#login {
   position: relative;
   top: 10vh;
   width: 600px;
}

#log-card {
    background-color: black;
    padding: 50px 25px 80px 25px;
}

#login img{
     width: 150px;   
}

#login h1 {
    font-size: 65px;
    font-weight: bold;
}

@media screen and (max-width: 870px) {
    #login {
        width: 90vw;
     }
     #login h1 {
        font-size: 40px;
    }
}